[user]
name = Taha Akhlaq
email = takhlaq04@gmail.com
signingkey = 58638F7782617897

[alias]
a = add
bl = blame
b = branch
c = commit
cl = clean
co = checkout
d = diff
f = fetch
l = log
graph = log --all --graph --decorate --oneline
p = push
pu = pull
r = reset
re = rebase
rf = reflog
s = status
st = stash
gpg = log --show-signature

[checkout]
workers = 8

[color]
ui = auto

[commit]
gpgsign = true
verbose = true
editor = code --wait

[core]
excludesfile = /Users/taha/.gitignore_global

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[init]
defaultBranch = main

[merge]
ff = false

[pull]
ff = true
rebase = false

[push]
autoSetupRemote = true

[submodule]
recurse = true

[gpg]
program = /usr/local/MacGPG2/bin/gpg2